body {
    font-family: 'Inter', sans-serif;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    width: 100%;
}

.cabecalho__nav {    
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    gap: 2.5rem;
}

.cabecalho__nav a {
    text-decoration: none;   
}

.cabecalho__nav a:hover {
    font-size: 20px;
}

.cabecalho__login {    
    display: inline-block;
}

.cabecalho__login button {  
    height: 3rem;
    width: 5rem;  
    background-color: #8E2424;
    color: white;
    border: 1px solid #8E2424;
    border-radius: 8px;
    cursor: pointer;
}

.cabecalho__login button:hover {
    font-size: 19px;
    transform: scale(1.2);
}

.cabecalho__login a {
    text-decoration: none;
    font-weight: 500;
    padding-right: 20px;
}

.cabecalho__login a:hover {
    font-size: 19px;
}

.conteudo-principal {
    text-align: center;
    width: 100%;
    margin-top: 5rem;
}

.conteudo-principal span {
    color: #8E2424;
    font-weight: 600;
}

.conteudo-principal__titulo {
    font-size: 48px;
    font-weight: 600;
}

.conteudo-principal__paragrafo {
   color: #667085;
   font-weight: 400;
   font-size: 22px;
   text-align: center;
}

.metrica-container {
    display: flex;
    margin: 5rem;
    gap: 0.9rem;
}

.metrica-container__primeira span {
    font-weight: 600;
    font-size: 60px;
    color: #8E2424;
}

.metrica-container__primeira h2 {
    font-weight: 500;
    font-size: 18px;
    color: #101828;
}

.metrica-container__primeira p {
    font-weight: 400;
    font-size: 16px;
    padding: 2px;
    color: #667085;
}

.metrica-container__segunda span {
    font-weight: 600;
    font-size: 60px;
    color: #8E2424;
}

.metrica-container__segunda h2 {
    font-weight: 500;
    font-size: 18px;
    color: #101828;
}

.metrica-container__segunda p {
    font-weight: 400;
    font-size: 16px;
    padding: 2px;
    color: #667085;
}

.metrica-container__terceira span {
    font-weight: 600;
    font-size: 60px;
    color: #8E2424;
}

.metrica-container__terceira h2 {
    font-weight: 500;
    font-size: 18px;
    color: #101828;
}

.metrica-container__terceira p {
    font-weight: 400;
    font-size: 16px;
    padding: 2px;
    color: #667085;
}

.metrica-container__quarta span {
    font-weight: 600;
    font-size: 60px;
    color: #8E2424;
}

.metrica-container__quarta h2 {
    font-weight: 500;
    font-size: 18px;
    color: #101828;
}

.metrica-container__quarta p {
    font-weight: 400;
    font-size: 16px;
    padding: 2px;
    color: #667085;
}

.procurandoTalentos {
    text-align: center;
}

.procurandoTalentos__vagas {    
    display: inline-block;
    border-radius: 4px;
    color: #8E2424;
    font-weight: 500;
    font-size: 14px;
    background-color: aqua;    
}

.procurandoTalentos__procura {
    font-size:  36px;
    font-weight: 600;
    margin: 10px 0px;
}

.procurandoTalentos__vagaRemota {
    color: #667085;
    font-weight: 400;
    font-size: 20px;
}
