body {
    font-family: 'Inter', sans-serif;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    width: 100%;
}

.cabecalho__nav {    
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    gap: 2.5rem;
}

.cabecalho__nav a {
    text-decoration: none;   
}

.cabecalho__nav a:hover {
    font-size: 20px;
}

.cabecalho__login {    
    display: inline-block;
}

.cabecalho__login button {  
    height: 3rem;
    width: 6rem;  
    background-color: #8E2424;
    color: white;
    border: 1px solid #8E2424;
    border-radius: 8px;
    cursor: pointer;
}

.cabecalho__login button:hover {
    font-size: 19px;
    transform: scale(1.2);
}

.cabecalho__login a {
    text-decoration: none;
    font-weight: 500;
    padding-right: 20px;
}

.cabecalho__login a:hover {
    font-size: 19px;
}

.conteudo-principal {
    text-align: center;
    width: 100%;
    margin-top: 5rem;
}

.conteudo-principal span {
    color: #8E2424;
    font-weight: 600;
}

.conteudo-principal__titulo {
    font-size: 48px;
    font-weight: 600;
}

.conteudo-principal__paragrafo {
   color: #667085;
   font-weight: 400;
   font-size: 22px;
   text-align: center;
}

